:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: #f5f7ff;
  background-color: #0b0d14;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

button {
  font-family: inherit;
}
